build --announce_rc
build --verbose_failures
build --color=yes
build --config=clang
build --config=java
build --copt=-O3

build:cpp --client_env=BAZEL_CXXOPTS=-std=c++17
build:cpp --cxxopt=-std=c++17
# Force opentelemetry cpp to use ABI version 2 to allow
# newer features that wouldn't break with older ABI version
build:cpp --@io_opentelemetry_cpp//api:abi_version_no=2

build:clang --config=cpp
build:clang --cxxopt=-fbracket-depth=512

# Force bazel to use specific JDK, otherwise JDK may not be predictable
build:java --java_language_version=21
build:java --java_runtime_version=remotejdk_21
build:java --tool_java_language_version=21
build:java --tool_java_runtime_version=remotejdk_21

# We build aws targets with java11 for now
build:java11 --java_language_version=11
build:java11 --java_runtime_version=remotejdk_11

# Address sanitizer
build:asan --action_env=CONTROL_PLANE_SHARED_ASAN=1
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
# Run sudo apt-get install lld in case of error
build:asan --linkopt=-fuse-ld=lld
build:asan --action_env=ASAN_OPTIONS=detect_leaks=1:color=always

test --test_output=all
# This tag is a workaround for resolving byte-buddy-agent initialization error when using Mockito 5,
# Ref: https://yaqs.corp.google.com/eng/q/2470984158147510272
# It creates a dedicated empty /tmp for each Linux sandbox
test --incompatible_sandbox_hermetic_tmp=true

# TODO (b/448434654): Needed for build to work with bazel 7+
common --@io_bazel_rules_docker//transitions:enable=false

# Default to using WORKSPACE
common --enable_bzlmod=false
